{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base",
    "plugin:styled-components-a11y/recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {}
}
